<%= form_for(@traceroute) do |f| %>
  <% if @traceroute.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@traceroute.errors.count, "error") %> prohibited this traceroute from being saved:</h2>

      <ul>
      <% @traceroute.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
