<!DOCTYPE html>
<html>
  <head>
    <title>PerfSONAR</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <style type="text/css">
      html { height: 100% }
      body { height: 100%; margin: 0; padding: 0 }
      #map_canvas { height: 100% }
    </style>
    <script> type="text/javascript"
      src = "jquery.js"
    </script>

    <script type="text/javascript"
      src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDc1303eluUItIVt_p4td_Pcbs3H50lr00&sensor=false">
    </script>
    <script type="text/javascript">
      function initialize() {
        var mapOptions = {
          center: new google.maps.LatLng(37.269174,-119.306607  ),
          zoom: 5,
          mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        var map = new google.maps.Map(document.getElementById("map_canvas"),
            mapOptions);
      }
    </script>
  </head>
  <body onload="initialize()">
    <h1 align = "center"> PerfSONAR Project <h1>

    <select name="server1" style="position:absolute; left: 310px">
      <option value="">Select Server 1</option>
      <option value="120.232.123.12">Lawrence Berkeley NL</option>
      <option value="343.32.2.223">Stanley Hall</option>
      <option value="55.11.453.21">Moffitt Library</option>
    </select>

    <select name="server2" style="position:absolute; left: 510px">
      <option value="">Select Server 1</option>
      <option value="120.232.123.12">Lawrence Berkeley NL</option>
      <option value="343.32.2.223">Stanley Hall</option>
      <option value="55.11.453.21">Moffitt Library</option>
    </select>

    <br>

    <button name="render" style="position:absolute; left: 310px"> Render </button>

    <br>

    <div id="map_canvas" align = "center" style="position:absolute; right:250px; width:65%; height:65%"></div>
  </body>
</html>