/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
//=  require twitter/bootstrap
//= require gmaps4rails


.table {
    margin-bottom: 0px;
}

html { 
    background-image: image-url('subtle_surface_@2X.png');
    background-repeat: repeat-y;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.frame {
    background: Transparent;
    position: absolute;
    padding-left: 10px;
    height: 100%;
    frame: 100%;
 
}
