/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require twitter/bootstrap
 *= require jquery.ui.core
 *= require jquery.ui.theme
 *= require dataTables/src/demo_table_jui  
 *= require gmaps4rails
 *= require select2
 *= require_self
 *= require_tree .
 */

th, td {
    border: 1px solid black;

}

tr {
 background-color: White;
}

td#actions {
    overflow: visible;
}

table.server {
    opacity: 1.0;
}

h1 {
    text-align:left;
    color: #191919;
}






.frame {
    position: relative;
    height: 100%;
    width: 100%;
    frame: 100%;
    padding-left: 10px;
 
}
